/* القاعدة العامة */
:root {
  /* اللون الأساسي (60%) - خلفية عامة */
  --color-60: #fdfaf6;     /* بيج فاتح مريح للعين */
  /* اللون الثانوي (30%) - هيدر، فوتر، عناوين */
  --color-30: #702E2E;   /* خمري داكن يعطي ثقل بصري */
  /* لون التمييز (10%) - أزرار، روابط مهمة */
  --color-10: #FFA500;  
  --color-10-hover: #ffa500;
  --text-color: #fff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Jost", Arial, serif;
  line-height: 1.6;
}
/* الحاوية */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
hr {
  width: 90%;
}

button {
  padding: 10px 20px;
  font-size: clamp(14px, 2vw, 18px);
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: var(--color-10);
  color: var(--text-color);
  transition: 0.4s;
}
button:hover {
  transform: scale(1.07);
  background-color: #e69500;
}
