main {
  /* width: 100%; */
  height: calc(100vh - 60px);
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
main .main-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: left;
  color: var(--text-color);
  width: 350px;
  padding-left: 20px;
}

main .text p {
  color:var(--text-color) ;
}

@media (max-width: 400px) {
  main .main-content {
    width: 250px;
  }
}

/* العنوان الرئيسي */
main h1 {
  font-size: clamp(36px, 5vw, 100px);
  font-weight: 700;
  margin-bottom: 1rem;
}


/* النصوص العادية */
main p {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
  margin-bottom: 1rem;
}